.container {  
    display: flex;  
    align-items: center;  
    padding: 0px 0px 14px 10px;  
    text-align: center;  
    color: #FFFFFF;  
    
    font-size: 18px;  
    font-weight: 600;  
    border-radius: 12px;  
    cursor: pointer;
  }