.header{
    background-color: #141024;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        color: #FFFFFF;
        padding: 30px 50px;
        max-width: 1750px;
    }
    &__list{
        display: flex;
        gap: 40px;
    
    }
    &__item{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        
        }
    &__link{
        color :#FFFFFF;
    }
    
   
    
    &__mobile-number-and-button{
        display: none;
    }
    
}

